---
import "../button/button.css"
interface Props {
    className: string;
    text: string;
    textColor: string;
    bgColor: string;
    borderColor: string;
    
}

const { className, text, textColor, bgColor, borderColor } = Astro.props;
---

<button
    class={`${className} ${textColor} ${bgColor} ${borderColor}
    px-[0.9rem] py-[0.3rem]  
    transition-all duration-300
    border-2 rounded-[8px]`}
>
    {text}
</button>